if theme.menu
  .menus_items
    each value, label in theme.menu
      if typeof value !== 'object'
        if label === '文章'
          .menus_item
            - const [link, icon] = value.split('||').map(part => trim(part))
            span.site-page.group
              if icon
                i.fa-fw(class=icon)
              span= ' ' + label
              i.fas.fa-chevron-down
            ul.menus_item_child
              - var categoriesList = site.categories.toArray()
              each category in categoriesList
                li
                  a.site-page.child(href=url_for(category.path))
                    span= ' ' + category.name
        else
          .menus_item
            - const [link, icon] = value.split('||').map(part => trim(part))
            a.site-page(href=url_for(link))
              if icon
                i.fa-fw(class=icon)
              span= ' ' + label
      else
        .menus_item
          - const [groupLabel, groupIcon, groupClass] = label.split('||').map(part => trim(part))
          - const hideClass = groupClass === 'hide' ? 'hide' : ''
          span.site-page.group(class=`${hideClass}`)
            if groupIcon
              i.fa-fw(class=groupIcon)
            span= ' ' + groupLabel
            i.fas.fa-chevron-down
          ul.menus_item_child
            each val, lab in value
              - const [valLink, valIcon] = val.split('||').map(part => trim(part))
              li
                a.site-page.child(href=url_for(valLink))
                  if valIcon
                    i.fa-fw(class=valIcon)
                  span= ' ' + lab
