nav#nav
  span#blog-info
    a.nav-site-title(href=url_for('/'))
      if theme.nav.logo
        img.site-icon(src=url_for(theme.nav.logo) alt='Logo')
      if theme.nav.display_title
        span.site-name=config.title
    if globalPageType === 'post' && theme.nav.display_post_title
      a.nav-page-title(href=url_for('/'))
        span.site-name=(page.title || config.title)
        span.site-name
          i.fa-solid.fa-circle-arrow-left
          span= '  ' + _p('post.back_to_home')

  #menus
    .nav-container
      .nav-left
        if theme.menu
          .menus_items
            each value, label in theme.menu
              if label !== '登录'
                if typeof value !== 'object'
                  if label === '文章'
                    .menus_item
                      - const [link, icon] = value.split('||').map(part => trim(part))
                      span.site-page.group
                        if icon
                          i.fa-fw(class=icon)
                        span= ' ' + label
                        i.fas.fa-chevron-down
                      ul.menus_item_child
                        - var categories = site.categories.toArray()
                        each category in categories
                          li
                            a.site-page.child(href=url_for(category.path))
                              span= ' ' + category.name
                  else
                    .menus_item
                      - const [link, icon] = value.split('||').map(part => trim(part))
                      a.site-page(href=url_for(link))
                        if icon
                          i.fa-fw(class=icon)
                        span= ' ' + label
                else
                  .menus_item
                    - const [groupLabel, groupIcon, groupClass] = label.split('||').map(part => trim(part))
                    - const hideClass = groupClass === 'hide' ? 'hide' : ''
                    span.site-page.group(class=hideClass)
                      if groupIcon
                        i.fa-fw(class=groupIcon)
                      span= ' ' + groupLabel
                      i.fas.fa-chevron-down
                    ul.menus_item_child
                      each val, lab in value
                        - const [childLink, childIcon] = val.split('||').map(part => trim(part))
                        li
                          a.site-page.child(href=url_for(childLink))
                            if childIcon
                              i.fa-fw(class=childIcon)
                            span= ' ' + lab
      .nav-right
        if theme.search.use
          #search-button
            span.site-page.social-icon.search
              i.fas.fa-search.fa-fw
              span= ' ' + _p('search.title')
        if theme.menu && theme.menu['登录']
          .menus_item
            - const [link, icon] = theme.menu['登录'].split('||').map(part => trim(part))
            a.site-page(href=url_for(link))
              if icon
                i.fa-fw(class=icon)
              span= ' 登录'

    #toggle-menu
      span.site-page
        i.fas.fa-bars.fa-fw